body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    width: auto;
    /* justify-content: center; */
    display: block;

}

/* section {
    width: 1440px;
} */

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}



ul,
li {
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

nav,
li,
a,
button {
    cursor: pointer;
    display: inline-block;
}

.container {
    width: 1440px;
    justify-content: center;
    text-align: center;
}

.header-page {
    justify-content: space-between;
    display: flex;
    width: auto;
    padding: 24px 156px;
    margin-left: 115px;

}

.logo {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.17;


}

.logo-text {
    color: #2E2F42;
}

.nav {
    cursor: pointer;
    display: flex;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-left: 76px;
    /* padding-bottom: 20px; */
}

.menu-item {
    margin-right: 40px;
}

.contacts {
    font-style: normal;
    text-align: right;
    margin-right: 156px;
    display: block;
}

.contacts-item {
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-right: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.e-mail {
    margin-right: 40px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.baner {
    background-color: #2E2F42;
}

.business {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    width: 496px;
    padding-top: 188px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 60px;
    display: block;
}

button {
    color: #ffffff;
    background-color: #4D5AE5;
    font-weight: 500;
    border: none;
    margin-top: 48px;
    margin-bottom: 188px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border-radius: 4%;
}

.btn-business {
    padding: 16px 32px;
}

.btn-business:active,
.btn-business:hover,
.btn-business:focus {
    color: #ffffff;
    background: #9747ff;
    border-radius: 4px;
}

/* .container-about {
    margin: 120px 156px; */

/* width: 1440px; */
/* } */

.container-about {
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    padding: 120px 156px;

}

.about-block {
    margin-right: 24px;
    text-align: left;
    letter-spacing: 0.02em;
    line-height: 24px;
    width: 264px;
    /* align-content: space-between; */
}

h3 {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
}

.img-team {
    width: 264px;
    height: 260px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
}

.about-team {
    width: auto;
    background-color: #f4f4fd;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.team {
    padding-top: 120px;
    padding-bottom: 70px;
}

.our-team {
    margin-left: 24px;
    background-color: #ffffff;
    width: 264px;
    height: 380px;
    border-radius: 4%;
    margin-bottom: 120px;
}

.team-card {
    padding: 16px 32px;
}

.portfolio-team {
    justify-content: center;
    padding-bottom: 72px;
}

.portfolio {
    margin-top: 120px;
    text-align: center;
}


.portfolio-bloc {
    margin-bottom: 48px;
}

.card-portfolio {
    display: flex;
    justify-content: center;
}

.img-portfolio {
    height: 300px;
}

.our-portfolio {
    margin-right: 24px;
    height: 420px;
    width: 360px;
    text-align: left;
    border: 1px solid #e7e9fc;
    margin-bottom: 48px;
}

.text-portfolio {
    padding-left: 16px;
    padding-top: 32px;
}

/* ----------------footer menu---------------------------- */

.footer {
    background-color: #2E2F42;
    justify-content: center;
    display: flex;
}

.block-footer {
    height: 312px;
    padding-top: 100px;
    padding-left: 156px;
    text-align: left;
    width: 1440px;

}


.logo-footer {
    color: #f4f4fd;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;

}

.text-footer {
    padding-top: 16px;
    width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}