body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 14px;

    /* *::before,
*::after {
    box-sizing: border-box;
} */

    * {
        margin: 0;
        padding: 0;
    }

    ul,
    li {
        list-style-type: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    /* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

    nav,
    li,
    a,
    button {
        cursor: pointer;
        display: inline-block;
    }

    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }

    .logo-header .logo-text {
        color: #2e2f42;
    }

    .footer-logo .logo-text {
        color: #f4f4fd;
    }


    .nav {
        cursor: pointer;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-weight: 500;
    }

    .menu-link {
        color: #2e2f42;
    }

    .contacts-list {
        font-style: normal;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .contacts-item {
        font-weight: 400;
        letter-spacing: 0.02em;
        margin-right: 40px;
    }

    .nav-menu {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }


    .e-mail {
        margin-right: 40px;
    }

    .menu-link:hover,
    .menu-link:focus,
    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }

    /* --------------------Effective Solutions----------------------- */

    .baner {
        background-color: #2e2f42;
    }

    .business {
        color: #ffffff;
        font-weight: 700;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-align: center;
        line-height: 1.6;
    }

    button {
        color: #ffffff;
        background-color: #4d5ae5;
        font-weight: 500;
        line-height: 1.24;
        letter-spacing: 0.03em;
    }

    .btn-business:active,
    .btn-business:hover,
    .btn-business:focus {
        color: #ffffff;
        background: #9747ff;
    }



    /* ----------------------About the company-------------------------------- */

    .about-block {
        margin-right: 24px;
        letter-spacing: 0.02em;
        line-height: 1.24;
    }

    h3 {
        font-family: "Roboto", sans-serif;
        color: #2e2f42;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 20px;
    }

    .text {
        font-weight: 400;
        font-size: 16px;
    }

    /* -------------------------Our Team--------------------------- */

    .about-team {
        background-color: #f4f4fd;
    }

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.4;
    }




    .our-team {
        background-color: #ffffff;
    }


    /* ------------our portfolio----------------------- */




    /* ----------------footer menu---------------------------- */

    .footer {
        background-color: #2e2f42;
        /* justify-content: center;
    display: flex;
} */

        /* .block-footer {
    height: 312px;
    padding-top: 100px;
    padding-left: 156px;
    text-align: left;
    /* width: 1440px; */
    }

    .logo-footer {
        color: #f4f4fd;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 1.17;
    }

    .text-footer {
        /* padding-top: 16px; */
        /* width: 264px; */
        color: #f4f4fd;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }